.add-button {
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 50px;
  min-width: 150px;
  background-color: #000;
  border: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .add-button {
    min-height: 50px;
    min-width: 282px;
  }
}
