.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    padding: 0 35px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
    margin-bottom: 32px;
    padding: 0 27px;
  }
}
