.elements {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  justify-items: stretch;
}

@media screen and (max-width: 868px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
