.elements__title {
  padding: 0;
  margin: 0;
  max-width: 188px;
  text-align: left;
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
