.elements__image-container {
  max-height: 282px;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .elements__image-container {
    max-height: 350px;
  }
}

@media screen and (max-width: 800px) {
  .elements__image-container {
    max-height: 282px;
  }
}

@media screen and (max-width: 600px) {
  .elements__image-container {
    max-height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .elements__image-container {
    max-height: 400px;
  }
}

@media screen and (max-width: 375px) {
  .elements__image-container {
    max-height: 345px;
  }
}

@media screen and (max-width: 320px) {
  .elements__image-container {
    max-height: 282px;
  }
}
